.container{
    width: 600px;
    padding: 350px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.infor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    padding: 20px 20px 0px 0px ;
}

.button{
    margin: 10px 0px 10px 0px ;
}
.button>button{
    width: 80px;
    height: 30px;
}

table{
    width: 600px;
    border-spacing: 0;
    border: 1px solid #bbb;
}
#tbl tr{
    height: 27px;
}
#tbl tr th, #tbl tr td{
    text-align: left;
    border-bottom: 1px solid #ccc;
}
#tbl tr:last-child td{
    border: none;
}